{%extends 'layout.html'%}

{%block body%}
<div class="box">
    <h1 class="title has-text-centered">Password Reset Request</h1>
    <p class="subtitle has-text-centered">
        Hi! This is an email for confirmation of your InstaFlask login account! <br>
        If this is not, ignore this email.
    </p>
    <h5 class="my-5">Click bellow to confirm your email.</h5>
    <a class="button my3 is-info" href="{{url_for('user.confirmation', token=token, _external=True)}}">Confirm my E-mail</a>
</div>
{%endblock body%}